# Created by .ignore support plugin (hsz.mobi)
!/for_paper/
!/TIR_plots/
!/spex.egg-info/
!/colors_tsg.csv
!/jhu_asd_df.csv
!/assets/
!/assorted/
!/build/
!/dist/
!/spex/data/CSV/
!/spex/data/HyLogger/
